@font-face {
    font-family: 'distant_galaxyregular';
    src: url('DISTGRG_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'News Gothic MT';
    font-style: normal;
    font-weight: normal;
    src: local('News Gothic MT'), url('NWGTHC.woff') format('woff');
    }
