* {
    box-sizing: border-box;
    font-family: 'News Gothic MT', Arial, sans-serif;
}

body:before,
body:after {
    content: "";
    position: fixed;
    background: #ddd;
    left: 0;
    right: 0;
    height: 10px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

body:before {
    top: 0;
}

body:after {
    bottom: 0;
}

body {
    width: 80%;
    background-color: #383838;
    color: #ddd;
    border-left: 10px solid #ddd;
    border-right: 10px solid #ddd;
    margin-right: auto;
    margin-left: auto;
    padding: 25px;
}

.filter {
    filter: invert(95%) sepia(14%) saturate(0%) hue-rotate(10deg) brightness(91%) contrast(94%);
}

.block {
    height: 600px;
}

h1,
h3 {
    font-family: 'distant_galaxyregular', Arial, sans-serif;
    letter-spacing: 1px;
    text-shadow: -8px 7px 6px black;
}

h3 {
    padding-top: 20px;
}

input {
    padding: 11px 15px;
    font-size: 16px;
}

header img,
.thumb img {
    float: right;
    padding: 5px;
}

.thumb img {
    padding-top: 30px;
}

li {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    margin: 0.5em;
}

.homeworld {
    display: block;
}

.hidden {
    display: none;
}

.italic {
    font-style: italic;
}

a:link {
    color: #0000E6;
}

.pages {
    display: inline-block;
}

.numResults {
    float: left;
    padding: 8px 16px;
    color: black;
    background-color: #ddd;
    margin-right: 20px;
}

.page {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.page.active {
    background-color: steelblue;
    color: white;
}

.page:hover:not(.active) {
    background-color: #53626b;
}

ul.table {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
}

form {
    padding: 20px;
}

.comics {
    padding: 15px;
}

form,
.comics {
    border: solid 4px;
    border-radius: 0 25px 0 25px;
    box-shadow: 7px 8px grey;
}

.comics ul img {
    height: 190px;
}

.characterPage {
    text-align: center;
    background-color: #ddd;
    padding: 10px 50px;
    box-shadow: -8px 7px 6px black;
    font-weight: bold;
}

figure {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}

.loader {
    border: 4px solid #f3f3f3;
    /* Light grey */
    border-top: 4px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
    position: absolute;
    margin-top: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.pageLoader {
    border: 4px solid #f3f3f3;
    /* Light grey */
    border-top: 4px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
    position: absolute;
}

@media only screen and (min-width: 600px) {
    .thumb img {
        padding-right: 25%;
        padding-left: 5%;
    }

    li {
        width: 40%;
    }
}

@media only screen and (min-width: 1000px) {

    li {
        width: 30%;
    }
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }

    body:before,
    body:after {
        width: 100%;
    }
}

@media only screen and (max-width: 369px) {
    input {
        margin-top: 10px;
    }

    .loader {
        margin-top: 20px;
    }

}

@media only screen and (max-width: 386px) and (min-width: 367px) {
    .loader {
        margin-top: 0;
    }
}